Team: <%= @team.name %><br>
Pool: <%= link_to @team.pool.name, pool_path(@team.pool) %><br>
Divers:<br>
<ul>
<% @team.users.each do |diver| %>
  <li><%= link_to "#{diver.first_name} #{diver.last_name}", user_path(diver) %></li>
<% end %>
</ul>