<h1><%= @meet.description %></h1><br>
<h2>Location: <%= @meet.pool.name %></h2><br>
<table>
  <tr>
    <th>Dive Number</th>
    <th>Dive Description</th>
    <th>Score 1</th>
    <th>Score 2</th>
    <th>Score 3</th>
    <th>Aggregate Score</th>
  </tr>
</table>